target/
.classpath
.settings/
.project
.vscode/
scripts/*results*
scripts/data
data/
scripts/__pycache__/
*.csv
*.ps1
scripts/filtering_changes.py
scripts/remove_content.py
scripts/sample.py
scripts/*.zip
scripts/*/
src/test/resources/toy/
*.txt
*.json